{% extends 'base.html.twig' %}

{% block title %}Aviso{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Aviso</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aviso.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ aviso.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ aviso.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avisos_index') }}" class="btn btn-secondary">Back to list</a>
    <a href="{{ path('app_avisos_edit', {'id': aviso.id}) }}" class="btn btn-warning">Edit</a>

    {{ include('avisos/_delete_form.html.twig') }}
</div>
{% endblock %}
